.additional__title {
  font-family: @Oswald;
  font-size: 24px;
  line-height: 24px;
}

.additional-list__title {
  font-size: 16px;
  line-height: 16px;
  color: @light-black;
}

.additional-list__attribute {
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
}

.additional-list__value {
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
}

.additional-list__button {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 0px;
}
