.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
}

.button--green {
  background-color: @green;
  color: @white;
}

@media (min-width: @tablet-width) {
  .button--green {
    font-size: 16px;
    line-height: 20px;
  }
}
