.features__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-family: @Oswald;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  font-family: @Arial;

  padding-left: 20px;
  padding-right: 5px;
}
