.features__list {
  list-style: none;
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  font-family: @Oswald;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  font-family: @Arial;

  padding-left: 20px;
  padding-right: 5px;
}

