.form {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.form__fieldset--target {
  color: @light-black;
}

.form__filedset--additionally {
  color: @black;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.form__note {
  font-family: @Arial;
  color: @black;
}
