.navigation {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: @Oswald;
  text-align: center;

  padding: 12px 20px 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: @black;

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 30px 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 110px 0px 110px;
  }
}

.navigation__logo {
  display: block;
  padding: 23px 0;
}

.navigation__menu {
  list-style: none;
  padding: 0;

  width: 300px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    width: auto;

    margin: 0;
  }
}

.navigation__item {
  padding: 22px 0;
}

.navigation__link {
  color: @black;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-weight: 400;
  }
}

@media (min-width: @tablet-width) {
  .navigation__link--active {
    border-bottom: 2px solid #68B738;
  }
}

@media (min-width: @desktop-width) {
  .navigation__link--active {
    border-bottom: 2px solid @white;
  }
}


@media (min-width: @desktop-width) {
  .navigation__link--active {
    border-bottom: 2px solid @white;
  }
}

.navigation__button {
  border: none;
  width: 24px;
  height: 2px;
  background-color: @black;
  display: block;

  position: relative;

  margin-left: auto;
  transform: translateY(-35px);


  &::before,
  &::after {
    content: "";

    width: inherit;
    height: inherit;
    background-color: inherit;

    position: absolute;
    left: 0;
  }

  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
