.navigation__menu {
  list-style: none;
  padding: 0;
}


.navigation {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: @Oswald;

  text-align: center;

  display: flex;
  justify-content: space-between;
}

@media (min-width: @mobile-width-only) {
  .navigation {
    justify-content: center;
  }
}


.navigation__link {
  color: @black;
  text-decoration: none;
  padding: 11px 0 17px 0;
}

@media (min-width: @tablet-width) {
  .navigation {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: @black;

    width: 100%;
  }

  .navigation__menu {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .navigation__link--active {
    border-bottom: 2px solid #68B738;
  }

  // .navigation__link {
  //   color: @white;
  //   }

  .navigation__link--active {
    border-bottom: 2px solid @white;
  }
}
