.products-item {
  line-height: 16px;
  color: @dark-grey;
  font-size: 12px;

  padding-bottom: 25px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    // width: 324px;
    // min-height: 511px;

    flex-direction: column;
    align-items: center;
  }
}
//   @media (min-width: @desktop-width) {
//     width: 245px;
//   }

@media (min-width: @mobile-width-only) {
  .products-item__wrapper {
    width: 50%;
  }
}
.products-item__wrapper {
  width: 50%;
}

.products-item__title {
  font-family: @Oswald;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @light-black;
}

.products-item a {
  text-decoration: none;
}

.products-item__link {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}

.products-item__link--grey {
  color: @dark-grey;
  background-color: #F2F2F2;
}

.products-item__table {
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.products-item__text {
  line-height: 16px;
  font-size: 12px;
  color: @dark-grey;
}

.products-item__text--bold {
  font-family: @Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
