.programs-list {
  list-style: none;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .programs-list {
    display: flex;
  }
}

.programs-list__item {
  color: @grey;
}

.programs-list__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}

@media (min-width: @tablet-width) {
  .programs-list__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-list__text {
  font-family: @Arial;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

@media (min-width: @tablet-width) {
  .programs-list__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs-list__link {
  font-family: @Oswald;
  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}

@media (min-width: @tablet-width) {
  .programs-list__link {
    font-size: 20px;
    line-height: 30px;
  }
}
