.promo {
  color: @white;
  background-color: @green;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;


  background-position: center bottom 175px;
}

@media (min-width: @mobile-width) {
  .promo {
    min-height: 320px;
  }
}

.promo__title {
  font-family: @Oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  margin: 0;
  padding: 0 10px;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__subtitle {
  font-family: @Oswald;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
  }
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
  color: @white;
  text-decoration: none;

  width: 100%;

  @media (min-width: @tablet-width)  {
    font-size: 20px;
    line-height: 20px;
  }
}
